window {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    background-image: url("/etc/nixos/shokohypr/shokowall/shoko-music-finder-rs.jpg");
    background-size: cover;
    background-position: center;
}

#outer-box {
    margin: 0px;
    padding: 10px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.5);
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

#inner-box, #scroll, #entry, #text {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: transparent;
}

#entry:selected {
    background-color: transparent;
    border: none;
}

#scroll {
    min-height: 0px;
}